     <div class="justify-content-center">
        <button class="btn btn-primary" id="activityBtn">+ Log Activity</button>
      </div>
      <br /> 
      <div class="mx-auto">
        <canvas id="activityGraph"></canvas>
      <br>
      </div>
        <div class="row align-items-center justify-content-center">
        <button class="btn btn-primary" id="allActivitiesBtn">All</button>
        <button class="btn btn-primary" id="runningBtn">Running</button>
        <button class="btn btn-primary" id="swimmingBtn">Swimming</button>
        <button class="btn btn-primary" id="bikingBtn">Biking</button>
      </div>
    </div>
<script src="/js/graph.js"></script>