<div class="card info-card col-md-8 mx-auto p-5 max-goals">
  <div id="goals-display">
    <div class="row">
      <div class="col-11">
        <h2 =id"goalheader" class class="color: #132542">Goals</h2>
        <h3 id= "goalEndsEl" class="color: #132542"></h3>
        <p id="daysRemainingEl" class="color: #132542"></p>
        <h4 id ="goalDayEl" class="color: #132542"></h4>
        <p id="dayGoalProgEl" class="color: #132542"></p>
        <h4 id="hourGoalEl" class="color: #132542"></h4>
        <p id="hourGoalProgEl" class="color: #132542"></p>
        <h4 id ="weightGoalEl"class="color: #132542"></h4>
        <p id="weightProgEl" class="color: #132542"></p>
      </div>
      <div class="plus">
        <a href="/goals" class="row justify-content-end text-decoration-none" id="edit-goals">
          <i class="fa-solid fa-plus fa-3x p-3"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<script src="/js/goalchecker.js"></script>


