<div class="card info-card col-md-8 mx-auto p-5 max-goals">
  <div id="goals-display">
    <div class="row">
      <div class="col-11">
        <h3 class="color: #132542">Your goal ends: {{userData.goal.goal_end_date}}</h3>
        <p id = "color: #132542">Days remaining placeholder</p>
        <h4 class="color: #132542">Days of exercise: {{userData.goal.hours_of_exercise}}</h4>
        <h4 class="color: #132542">Hours of exercise: {{userData.goal.days_of_exercise}}</h4>
        <h3 class="color: #132542"> Total Weight Loss Goal: {{userData.goal.weightloss_goal}}</h3>
        <h3 class="color: #132542"></h3>
      </div>
      <div class="plus">
        <a href="/goals" class="row justify-content-end text-decoration-none" id="edit-goals">
          <i class="fa-solid fa-plus fa-3x p-3"></i>
        </a>
      </div>
    </div>
  </div>
</div>