
        <div class="plus">
        <a href="/goals" class="row justify-content-end" id="edit-goals">
          <i class="cog fa-solid fa-plus fa-3x pt-4 pl-4"></i>
        </a>
        </div>


      <div class="row text-center flex-direction-column justify-content-center">
          <div class = "row">
          <div =class="text-center col">
          <h2 id= "goalheader" class="color: #132542">Goals</h2>
          <h4 id= "goalEndsEl" class="color: #132542"></h4>
          </div>
          <div class = "col">
          <h4 id ="goalDayEl" class="color: #132542"></h4>
          <p id="dayGoalProgEl" class="color: #132542"></p>
          </div>
          <div class = "col">
          <h4 id="hourGoalEl" class="color: #132542"></h4>
          <p id="hourGoalProgEl" class="color: #132542"></p>
          </div>
          <div class = "col">
          <h4 id ="weightGoalEl"class="color: #132542"></h4>
          <p id="weightProgEl" class="color: #132542"></p>
          </div>
       </div> 
  </div>
</div>

<script src="/js/goalchecker.js"></script>


