
  <div class="row">
    <div class="col-md-8 mx-auto border p-5" id="goals-display">
        <a
  href="/goals"
  class="row justify-content-end text-decoration-none"
  id="edit-goals"
>
  <i class="fa-solid fa-plus fa-3x p-3"></i>
</a>
    <h3 class="text-white">This Weeks Goals:</h3>
    <h4 class="text-white">Days of exercise:{{userData.goal.hours_of_exercise}}</h4>
    <h4 class="text-white">Hours of exercise:{{userData.goal.days_of_exercise}}</h4>
    <h3 class="text-white"> Total Weight Loss Goal:{{userData.goal.weightloss_goal}}</h3>
    <h3 class="text-white"></h3>
    </div>
  </div>