<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/profile"><img src="/assets/images/branding/FITTRACK_SYMBOL_NAVY.png" class=""></a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
    </ul>
  </div>
<div id = "logo-div">
<img src = "/assets/images/branding/FITTRACK_LOGO_NO_BCKGD.png" id ="center-logo" class="img-fluid mx-auto d-block">
</div>
<button class="btn btn-primary justify-content-end custm-btn" id="logoutBtn">Log Out</button>
</nav>