<div class="row justify-content-end">
  <a
    href="/edit"
    class="text-decoration-none"
    id="edit-profile"
  >
  <i class="cog fa-solid fa-gear fa-3x p-3"></i>
  </a>
</div>
<div class="justify-content-center text-center">
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/1200px-Default_pfp.svg.png"
    class="card-img-top p-4"
    alt="profile-image"
  />
  <div class="card-body">
    <h2 class="card-title">{{userData.name}}</h2>
    <h4 class="card-text">Location: {{userData.profile.location}}</h4>
    <p class="card-text">Height: {{userData.profile.height}} </p>
    <p class="card-text">Starting Weight:
      {{userData.profile.starting_weight}}
    </p>

  </div>
</div>