<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/profile"><img src="/assets/images/branding/FITTRACK_SYMBOL_NAVY.png" class="img-fluid"></a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
    </ul>
  </div>
<button class="btn btn-primary justify-content-end custm-btn" id="logoutBtn">Sign Out</button>
</nav>

<div class="d-flex align-items-center mt-4 centering-container">
  <div class="card info-card p-4 col-md-4 mx-auto max-width-500">
    <div class="container">
      <h2 class="text-center mb-4">Enter your activity</h2>
      <div class="input-group input-group-sm row"></div>
      <form action="/action_page.php">
        <div class="text-center mx-auto">
          <label for="Date">Date:</label>
          <input type="date" id="date" name="date" />
        </div>
        <span class="input-group-text" id="activityLabel">Activity Type:</span>
        <input type="text" class="form-control" id="activity" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" />
        <span class="input-group-text" id="durationLabel">Duration(minutes):</span>
        <input type="text" class="form-control" id="duration" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" />
        <span class="input-group-text" id="inputGroup-sizing-sm">Distance(miles):</span>
        <input type="text" class="form-control" id="distance" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" />
        <span class="input-group-text" id="inputGroup-sizing-sm">Weigh In:(optional)</span>
        <input type="text" class="form-control" id="weight" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" />
      </form>
      <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary" id="saveBtn">Save</button>
        <button type="submit" class="btn btn-primary" id="profileBtn">Back to
          Profile</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/activitylog.js"></script>