<div class="container">
  <h2>Enter your activity</h2>
  <div class="input-group input-group-sm row"></div>
    <form action="/action_page.php">
      <label for="Date">Date:</label>
      <input type="date" id="date" name="date">
      <span
        class="input-group-text"
        id="durationLabel"
      >Duration(minutes):</span>
      <input
        type="text"
        class="form-control"
        id="duration"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm"
      />
      <span
        class="input-group-text"
        id="inputGroup-sizing-sm"
      >Distance(miles):</span>
      <input
        type="text"
        class="form-control"
        id="distance"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm"
      />
      <span class="input-group-text" id="inputGroup-sizing-sm">Weigh
        In:(optional)</span>
      <input
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm"
      />
    <button type="submit" class="btn btn-primary" id="saveBtn">Save</button>
    <button type="submit" class="btn btn-primary" id="profileBtn">Back to
      Profile</button>
  </form>
</div>

<script src="/js/activitylog.js"></script>