<div class="d-flex align-items-center mt-4 centering-container">
  <div class="card info-card p-4 col-md-4 mx-auto max-width-500">
    <div id="editprofile">
      <h2 class="text-center mb-5">Edit Your Profile</h2>
      <button id="upload_widget" class="cloudinary-button">Upload files</button>
      <form>
        <!--Image upload to eventually go here-->
        <div class="form-group col-10 mx-auto">

        </div>
        <div class="input-group input-group-sm mb-3">
          <span
            class="input-group-text cust-tag border-0 pr-2"
            id="inputGroup-sizing-sm"
          >Age</span>
          <input
            type="text"
            class="form-control border-0"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm"
            id="age-input"
          />
        </div>
        <div class="input-group input-group-sm mb-3">
          <span
            class="input-group-text cust-tag border-0 pr-2"
            id="inputGroup-sizing-sm"
          >Location</span>
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm"
            id="location-input"
          />
        </div>
        <h3 class="text-center mb-4">Basic Health Information</h3>
        <div class="input-group input-group-sm mb-3">
          <span
            class="input-group-text cust-tag border-0 pr-2"
            id="inputGroup-sizing-sm"
          >Height</span>
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm"
            id="height-input"
          />
        </div>
        <div class="input-group input-group-sm mb-3">
          <span
            class="input-group-text cust-tag border-0 pr-2"
            id="inputGroup-sizing-sm"
          >Starting Weight</span>
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm"
            id="starting-weight-input"
          />
        </div>
        <div class="text-center mt-5">
          <button class="btn btn-primary" id="saveProfileBtn">Save Profile</button>
          <button class="btn btn-primary" id="cancelChangesBtn">Cancel Changes</button>
        </div>
      </form>

    </div>
  </div>
</div>

<script
  src="https://upload-widget.cloudinary.com/global/all.js"
  type="text/javascript"
></script>

<script src="/js/editprofile.js"></script>