{{> navbar}}

<div class="d-flex align-items-center mt-4 centering-container">
    <div class="card info-card p-4 col-md-4 mx-auto max-width-500">
        <div>
            <h2 class="text-center mb-4">Set your goals!</h2>
            <form>
        </div>
        <div class="mx-auto">
          <label for="Date">Goal end date:</label>
          <input type="date" id="goal-end-date" name="date" />
        </div>
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text cust-tag border-0 pr-2" id="inputGroup-sizing-sm"> Total Hours</span>
            <input id="total-hours" type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text cust-tag border-0 pr-2" id="inputGroup-sizing-sm">Total Days</span>
            <input id="days-of-exercise" type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm">
        </div>
        <h2 class="text-center mb-4">Enter your weight loss goal</h2>
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text cust-tag border-0 pr-2" id="inputGroup-sizing-sm">Target Weight</span>
            <input id="target-weight" type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="text-center mt-5">
          <button type="submit" class="btn btn-primary col-4" id="savegoals">Save</button>
          <button class="btn btn-primary col-4" id="cancelBtn">Cancel</button>
        </div>
        </form>
    </div>
</div>


<script src="/js/editgoals.js"></script>