    <div class="container d-flex flex-column justify-content-center align-items-center">
      <div id="hero-image">
        <img src="https://i.ibb.co/Q964HS6/FITTRACK-LOGO-NO-BCKGD.png" alt="FITTRACK-LOGO-NO-BCKGD" border="0" /></a>
      </div>
      <p class="text-center text-white my-4">Welcome to FitTrack, the all-in-one activity tracking app designed to help you achieve your fitness goals. With easy-to-use tracking tools, and real-time progress updates, you'll stay motivated and on track to reach your full potential.</p>
      <div class="d-flex justify-content-center align-items-center">
        <button class="btn btn-primary mr-3" id="loginBtn">Login</button>
        <button class="btn btn-primary" id="signupBtn">Signup</button>
      </div>
    </div>
<script src="/js/landingpage.js"></script>