<div class="container-fluid mt-4">
    <div class="card info-card p-4 col-lg-4 mx-auto">
      <div>
        <img src="/assets/images/branding/FITTRACK_SYMBOL_NAVY.png" class="mx-auto d-block">
      </div>
      <h2 class="text-white">Login to your fitness journey..</h2>
      <form>
        <div class="mb-3 input-card p-2">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            placeholder="example@exmpl.com"
            class="form-control border-0 inp"
            id="email"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3 input-card p-2">
          <label for="password" class="form-label">Password</label>
          <input type="password" placeholder="*********" class="form-control border-0 inp" id="password" />
        </div>
        <div class="mb-3 form-check">
        </div>
      </form>
      <div class="mb-3 form-check">
      <button
        type="submit"
        class="btn btn-primary"
        id="loginBtn"
      >Login</button>
      <button
        type="submit"
        class="btn btn-primary"
        id="signupBtn"
      >Signup</button>
    </div>
    </div>
  </form>
</div>

<script src="/js/login.js"></script>