<div class="d-flex align-items-center mt-4 centering-container">
  <div class="card info-card p-4 col-md-4 mx-auto max-width-500">
    <div class="mb-4">
      <img src="/assets/images/branding/FITTRACK_SYMBOL_NAVY.png" class="mx-auto d-block">
    </div>
    <h2 class="mb-5 text-center">Login to your fitness journey..</h2>
    <form>
      <div class="mb-4 input-card p-2">
        <label for="email" class="form-label pl-2">Email</label>
        <input type="email" placeholder="example@exmpl.com" class="form-control border-0 inp" id="email"
          aria-describedby="emailHelp" />
      </div>
      <div class="mb-4 input-card p-2">
        <label for="password" class="form-label pl-2">Password</label>
        <input type="password" placeholder="*********" class="form-control border-0 inp" id="password" />
      </div>
      <div class="mb-3 form-check">
      </div>
    </form>
    <div class="mb-3 form-check text-center pr-3">
      <button type="submit" class="btn btn-primary pl-5 pr-5" id="loginBtn">Login</button><br><br>
      <span class="mr-2">Not a FitTrack member?</span><br>
      <a href="/signup" class="btn btn-link" id="signupLink">Create Account</a>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>