{{> navbar}}
<div class="row flex-direction-row d-flex justify-content-around flex-wrap gap-2">
  <div class="row justify-content-center">
  <div id = "profile-goals-display" class="flex-fill goal-card pt-4 p-3 mt-3 ml-5">
    {{> profileDisplay}}
  </div>
  </div>
  <div class=" flex-fill col-sm-7 goal-card pt-4 p-3 mt-3 ml-4">
  <div id="goals-display">
        {{> activityGraph}}
      </div>
</div>
  <div id = "profile-goals-display" class=" goals-display goal-card  pt-3  p-3 mt-3 ml-3">
      {{> goals}}
  </div>
</div>



</div>
<script src="/js/profile.js"></script>
<script src="/js/graph.js"></script>

