<!-- If logged in main body of site -->
<section class="container-fluid space-between p-4 row ps-2 text-white">
  <!-- Container for profile-pic -->
  <div class="col-md-4 col-sm-12 mx-auto pr-1 border" id="user-profile-card">
    {{> profileDisplay}}
  </div>

  <div class="col-md-8 col-sm-12 border p-5 mx-auto" id="chart-display">
    <div class="row justify-content-end">
      <button class="btn btn-outline-secondary" id="activityBtn">+ Log Activity</button>
      <button class="btn btn-outline-secondary" id="allActivitiesBtn">All</button>
      <button class="btn btn-outline-secondary" id="runningBtn">Running</button>
      <button class="btn btn-outline-secondary" id="swimmingBtn">Swimming</button>
      <button class="btn btn-outline-secondary" id="bikingBtn">Biking</button>
    {{!-- </div>
    {{> activityGraph}}
  </div> --}}
  <div>
  <canvas id="activityGraph" class="w-100 h-100"></canvas>
</div>
</section>
<!-- Tabs or Pills can be used in a card with the help of .nav-{tabs|pills} and .card-header-{tabs|pills} classes -->
<section class="container-fluid p-4">
  <div class="row">
    <div class="col-md-8 mx-auto border p-5" id="chart-display">
      <h2>Weekly Goals:</h2>
      <p>You want to exercise 5 days this week</p>
      <p>You want to exercise for 6 hours.</p>
      <h2>Weight Loss Goal:</h2>
      <p>You want to lose: 25lbs</p>
      </div>
      <canvas id="activityGraph" class="w-100 h-100"></canvas>
    </div>
  </div>
</section>
<script src="/js/profile.js"></script>
<script src="/js/graph.js"></script>