    <div id = "upload">
    <form action="/" method="POST"  enctype="multipart/form-data">
    <H3>Upload Profile Image</H3>
    <input type="file" name="sampleFile" accept="image/*"/>
    <input type="submit" class="btn btn-primary">
    </form>
    </div>  