:root {
  --color-1:#DBF762;
  --color-2:#132542;
  --color-3:#2d7ba5;
  --color-4:#8CC5E3;
  --color-5:#FFF;
}

h1 {
  text-align: center;
}

/* Navbar Styling */
.navbar-brand img {
  height: 50px;
  float: left;
  margin-right: 7px;
}

body {
  background-color: var(--color-2);
}

/* User Information Pages Styling */
.centering-container {
  height: 80vh;
}

.max-width-500 {
  max-width: 456px;
}

.activity {
  margin: auto;
  padding-top: 200px;
  justify-content: center;
  max-width: 400px;
}

.info-card {
  border-radius: 20px;
  background-color: var(--color-4);
}

.info-card img{
  height: 150px;
}

.input-card {
  background-color: var(--color-5);
  border-radius: 20px;
}

.inp {
  border-radius: 20px;
}

/* Button Styling */
#loginBtn, #signupBtn, #logoutBtn, 
#saveProfileBtn, #cancelChangesBtn{
  border: none;
  border-radius: 20px;
  background-color: var(--color-3);
}

#loginBtn:hover, #signupBtn:hover, #logoutBtn:hover, #saveProfileBtn:hover, #cancelChangesBtn:hover{
  color:black;
  background-color: var(--color-1);
}

#loginBtn:focus, #loginBtn:active,  #signupBtn:focus,  #signupBtn:active,
#logoutBtn:focus, #logoutBtn:active, #saveProfileBtn:focus, #saveProfileBtn:active,
#cancelChangesBtn:focus, #cancelChangesBtn:active{
  color: black;
  background-color: var(--color-1);
  box-shadow: 0 0 5px var(--color-1);
}

/* Edit Profile Styling */
.cust-tag {
  border-radius: 20px 0 0 20px;
  background-color: var(--color-3);
  color: var(--color-5);
  width: 135px;
}

#age-input,
#location-input,
#height-input,
#starting-weight-input {
  height: 40px;
  border-radius: 0 20px 20px 0;
}