:root {
  --color-1:#DBF762;
  --color-2:#132542;
  --color-3:#2d7ba5;
  --color-4:#8CC5E3;
  --color-5:#FFF;
}

h1 {
  text-align: center;
}

.navbar-brand img {
  height: 50px;
  float: left;
  margin-right: 7px;
}

body {
  background-color: var(--color-2);
}

.info-card {
  border-radius: 20px;
  background-color: var(--color-4);
}

.info-card img{
  height: 150px;
}

.input-card {
  background-color: var(--color-5);
  border-radius: 20px;
}

.inp {
  border-radius: 10px;
}